bin/
obj/
.vs/
*.user
*.suo
*.rsuser
*.log

TestResults/
.vscode/
.idea/

src/**/bin/
src/**/obj/

documentacion/*Log*
documentacion/*SmokeTest*

appsettings.Development.json
*.Development.json

.env
*.secret.json

Backups/

*.bak
